<!doctype html>
<html>
<head>
	<title>Assassin Sign-In</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cyborg/bootstrap.min.css"> -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	
	
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span> Assassin Authentication</h1>

<!--			<p>Login or Register with:</p>
			<a href="/assassin/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
			<a href="/assassin/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a></br>
			<span class="fa fa-angle-double-left"></span> OR <span class="fa fa-angle-double-right"></span></br>
-->			</br><a href="/assassin/auth/facebook" class="btn btn-primary btn-lg"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
		</div>
	</div>
</body>
</html>

