<!-- views/instructions.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Assassin Instructions</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:20px; word-wrap:break-word; }
    </style>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1>How to Play</h1>
			<a href="/assassin/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="well">
					<p>
						Assassin is a social game - it is played out in the real world, but organized over the Internet.
						When you join a game, you'll be given a target and a secret phrase. Your objective is to
						 approach your target when no one else is around, get their secret phrase, and then enter it into
						 the text box under your target's name. Once a player gives up their secret phrase, they are
						 effectively "dead" in the game. </br>
						This game only works if everyone plays by the rules. If you are caught by whoever is looking 
						for you, it is time to give up your secret phrase. Best of luck.
					</p>
					<p>
						<h3>1. Join a Game</h3>
						Join a game using the Game ID you were given
					</p>
					<p>
						<h3>2. Learn Your Info</h3>
						Once you join a game, your status will be set to ALIVE. You'll also be given a secret phrase.
						It's important that you remember your secret phrase, in case you get caught. A target won't show 
						up immediately after you join.
					</p>
					<p>
						<h3>3. Find Your Target</h3>
						when the game starts find your target
					</p>
					<p>
						<h3>4. Witnessing</h3>
						Join a game using the Game ID you were given
					</p>
				</div>
			</div>
		</div>
