<!-- views/instructions.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Tag Instructions</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:20px; word-wrap:break-word; }
    </style>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1>How to Play</h1>
			<a href="/tag/dash" class="btn btn-default btn-sm">Dash</a>
			<a href="/tag/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="well">
					<p>
						<strong>Tag</strong> is a social game - it is played out in the real world, but organized over the Internet.
						When you join a game, you'll be given a target and a secret phrase. Your objective is to
						 approach your target when no one else is around, tag them, get their secret phrase, and then enter it into
						 the text box under your target's name. You can tag a player by tapping their shoulder only. 
						 Once a player gives up their secret phrase, they are 
						 out of the game. </br></br>
						This game only works if everyone plays by the rules. If you are caught by whoever is looking 
						for you, it is time to give up your secret phrase. Likewise, if you are witnessed tagging someone,
						 it's best to admit to defeat. Best of luck.
					</p>
					<p>
						<h3>1. Join a Game</h3>
						Join a game using the Game ID you were given
					</p>
					<p>
						<h3>2. Learn Your Info</h3>
						Once you join a game, your status will be set to ALIVE. You'll also be given a secret phrase.
						It's important that you remember your secret phrase, in case you get tagged. A target won't show 
						up immediately after you join.
					</p>
					<p>
						<h3>3. Find Your Target</h3>
						A target will appear on your <a href="/tag/dash">Dashboard</a> once your game starts. This
						typically happens a few hours or days after you join. 
					</p>
					<p>
						<h3>4. Tag Your Target</h3>
						Remember, tagging must be done in a very specific way. The only way to tag someone is to tap their shoulder. 
						Anything else (especially foam swords and the like) does not count. If you are tagged in any 
						different way, you should not give up your secret phrase.
					</p>
					<p>
						<h3>5. Witnessing</h3>
						If you observe one player tagging their target, you can report the event. If you report 
						such an incident, the tagger you observed will be out, and their targets transferred to you.
						Witnessing can be done <a href="/tag/witness">here</a>.
					</p>
				</div>
			</div>
		</div>
